name: Nightly Build

on:
  workflow_dispatch:
    inputs:
      release-branch:
        description: 'Release branch to bump and merge (leave empty to skip)'
        required: false
        type: string
      token:
        description: 'Token with push permissions'
        required: true
        type: string

jobs:
  bump-and-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config --local user.name "Nightly Build Action"
          git config --local user.email "action@github.com"
          git remote set-url origin https://x-access-token:${{ inputs.token }}@github.com/${{ github.repository }}.git

      - name: Bump version on release branch
        if: inputs.release-branch != ''
        uses: ./.github/actions/bump-version
        with:
          branch: ${{ inputs.release-branch }}

      - name: Bump version on main branch
        uses: ./.github/actions/bump-version
        with:
          branch: main

  # Create Nightly Builds

  build-release-branch:
    needs: bump-and-merge
    if: inputs.release-branch != ''
    uses: ./.github/workflows/sketcher-builder.yml
    with:
      ref: ${{ inputs.release-branch }}
      publish-npm-package: true

  build-main-branch:
    needs: bump-and-merge
    uses: ./.github/workflows/sketcher-builder.yml
    with:
      ref: main
      publish-npm-package: true
