name: Nightly Build

on:
  workflow_dispatch:
    inputs:
      release-branch:
        description: 'Release branch to bump and merge (leave empty to skip)'
        type: string
  schedule:
    - cron: '0 4 * * *'

jobs:
  # Create Nightly Builds

  build-release-branch:
    if: ${{ inputs.release-branch != '' || github.event_name == 'schedule' }}
    uses: ./.github/workflows/sketcher-builder.yml
    with:
      ref: ${{ inputs.release-branch }}
      publish-npm-package: true

  build-main-branch:
    uses: ./.github/workflows/sketcher-builder.yml
    with:
      ref: main
      publish-npm-package: true
